<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    {{>header}}

    <p> This is a weather app created with Express.js</p>

    {{>footer}}


</body>


</html>